absl-py==0.14.0
addict==2.4.0
adjustText==0.7.3
affine==2.3.0
aiohttp==3.8.1
aiosignal==1.2.0
albumentations==0.5.1
alembic==1.7.5
antlr4-python3-runtime==4.7.2
anyio==3.3.4
apex==0.1
appdirs==1.4.4
argon2-cffi==21.1.0
astroid==2.9.3
asttokens==2.0.5
async-timeout==4.0.1
attrs==21.4.0
autopage==0.4.0
Babel==2.9.1
backcall==0.2.0
basemap==1.2.1
beautifulsoup4==4.10.0
black==21.12b0
bleach==4.1.0
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1652969564918/work
boto3==1.20.37
botocore==1.23.37
Bottleneck @ file:///home/conda/feedstock_root/build_artifacts/bottleneck_1649629653076/work
branca==0.4.2
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1648854175163/work
cachetools==4.2.2
captum==0.5.0
Cartopy @ file:///tmp/build/80754af9/cartopy_1636039042004/work
catboost==0.24.4
category-encoders==2.2.2
certifi==2021.10.8
cf-units==3.0.1.post0
cf-xarray==0.7.2
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
cftime @ file:///home/conda/feedstock_root/build_artifacts/cftime_1649636864359/work
charset-normalizer==2.0.10
cityscapesScripts==2.2.0
click @ file:///home/conda/feedstock_root/build_artifacts/click_1651215152883/work
click-plugins==1.1.1
cliff==3.9.0
cligj==0.7.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1653061851209/work
cmaes==0.8.2
cmd2==2.3.1
colorama==0.4.4
colorcet==2.0.6
coloredlogs==15.0.1
colorlog==6.6.0
contextily==1.2.0
contourpy==1.0.5
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1652967113783/work
cycler==0.11.0
Cython==0.29.24
cytoolz==0.11.2
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1656089485461/work
datashader==0.13.0
datashape==0.5.2
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
detectron2==0.5+cu111
dill==0.3.4
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1656105715835/work
DLLogger @ git+https://github.com/NVIDIA/dllogger@ee350078da010f321708ba6bb12b2b40b292a829
earthengine-api==0.1.288
easydict==1.7
entrypoints==0.3
et-xmlfile==1.1.0
executing==0.8.2
Fiona==1.8.21
fire==0.3.1
flake8==4.0.1
flake8-import-order==0.18.1
Flask==2.0.2
Flask-Cors==3.0.10
folium==0.12.1.post1
fonttools==4.28.5
frozenlist==1.2.0
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1653010523205/work
future==0.18.2
fvcore==0.1.5.post20210924
geographiclib==1.52
geopandas==0.11.0
geoplot==0.4.4
geopy==2.2.0
geoviews==1.9.3
google-api-core==1.31.3
google-api-python-client==1.12.8
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.1.0
google-cloud-storage==1.42.3
google-crc32c==1.3.0
google-resumable-media==2.1.0
googleapis-common-protos==1.53.0
graphviz==0.18.2
greenlet==1.1.2
grpcio==1.40.0
HeapDict==1.0.1
holoviews==1.14.6
httplib2==0.20.1
httplib2shim==0.0.3
humanfriendly==10.0
hvplot==0.7.3
hydra-core==1.1.1
icecream==2.1.1
idna==3.3
imageio==2.13.5
imgaug==0.4.0
imgviz==1.5.1
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1653252793585/work
importlib-resources==5.2.2
iniconfig==1.1.1
iopath==0.1.8
ipykernel==6.5.1
ipython==7.29.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.10.1
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
json-tricks==3.15.5
json5==0.9.6
jsonschema==4.2.1
jupyter-client==6.1.12
jupyter-core==4.9.1
jupyter-server==1.11.2
jupyter-server-proxy==3.1.0
jupyterlab==3.2.4
jupyterlab-nvdashboard==0.6.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
labelme==5.0.1
lazy-object-proxy==1.7.1
libzero==0.0.3.dev7
lightgbm==3.2.1
llvmlite==0.38.0
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lz4 @ file:///home/conda/feedstock_root/build_artifacts/lz4_1652795538777/work
Mako==1.1.6
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.5.0
mccabe==0.6.1
mercantile==1.2.1
MetPy==1.1.0
micropython-cpython-utime==0.4
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
# Editable install with no version control (mmcls==0.15.0)
-e /home/leadmove/dongliang/mmlab/mmclassification
mmcv-full==1.4.0
-e git+https://github.com/open-mmlab/mmdetection.git@56e42e72cdf516bebb676e586f408b98f854d84c#egg=mmdet
# Editable install with no version control (mmsegmentation==0.17.0)
-e /home/leadmove/dongliang/mmlab/mmsegmentation
monai==0.4.0
motmetrics==1.2.0
msgpack @ file:///opt/conda/conda-bld/msgpack-python_1652362659880/work
multidict==5.2.0
multipledispatch==0.6.0
munch==2.5.0
munkres==1.1.4
mypy==0.931
mypy-extensions==0.4.3
nanoid==2.0.0
natsort==8.2.0
nbclassic==0.3.4
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
ncplot==0.1.0
nctoolkit==0.3.9
nest-asyncio==1.5.1
netCDF4==1.5.7
netcdftime==1.0.0a2
networkx==2.6.3
ninja==1.10.2
nose==1.3.7
notebook==6.4.6
numba==0.55.0
numexpr @ file:///opt/conda/conda-bld/numexpr_1656071944761/work
numpy @ file:///opt/conda/conda-bld/numpy_and_numpy_base_1652801679809/work
oauthlib==3.1.1
omegaconf==2.1.1
opencv-python==4.4.0.46
opencv-python-headless==4.5.4.58
openpyxl==3.0.9
optuna==2.6.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
panel==0.12.4
param==1.12.0
parso==0.8.2
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1617910651905/work
pathspec==0.9.0
patsy==0.5.2
pbr==5.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
Pint==0.18
platformdirs==2.4.1
plotly==5.4.0
pluggy==1.0.0
plyfile==0.7.4
pooch==1.5.2
portalocker==2.3.2
prettytable==2.2.0
prometheus-client==0.12.0
prompt-toolkit==3.0.22
protobuf==3.17.3
psutil==5.9.0
ptyprocess==0.7.0
py==1.11.0
py-cpuinfo==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.4
pycodestyle==2.8.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyct==0.4.8
pydantic==1.9.0
pydocstyle==6.1.1
pydot==1.4.2
pyflakes==2.4.0
Pygments==2.10.0
pylint==2.12.2
pymannkendall==1.4.2
pynvml==8.0.4
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing==3.0.6
pyperclip==1.8.2
pyproj==3.3.1
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyquaternion==0.9.9
pyrsistent==0.18.0
pyshp @ file:///tmp/build/80754af9/pyshp_1610641829514/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1648857275402/work
pytest==6.2.5
pytest-benchmark==3.4.1
python-dateutil==2.8.2
pytomlpp==0.3.5
pytorch-lightning==1.0.0
pytorch-ranger==0.1.1
pytz==2021.3
pyviz-comms==2.1.0
PyWavelets==1.2.0
PyYAML==6.0
pyzmq==22.3.0
QtPy==2.2.0
rasterio==1.2.10
regex==2021.9.24
regionmask==0.8.0
requests==2.27.1
requests-oauthlib==1.3.0
resnest @ git+https://github.com/zhanghang1989/ResNeSt@1dfb3e8867e2ece1c28a65c9db1cded2818a2031
rsa==4.7.2
s3transfer==0.5.0
# Editable install with no version control (scalabel==0.3.0rc2)
-e /home/leadmove/dongliang/mmlab/eval_bdd/scalabel-master
SciencePlots==1.0.9
scikit-image==0.19.1
scikit-learn==1.1.1
scipy==1.7.3
seaborn==0.11.2
Send2Trash==1.8.0
setuptools-scm==6.3.2
Shapely==1.8.2
simpervisor==0.4
siphon==0.9
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.2.0
snuggs==1.4.7
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve==2.3.1
sparse==0.13.0
SQLAlchemy==1.4.27
statsmodels==0.13.1
stevedore==3.5.0
tabulate==0.8.9
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
tenacity==8.0.1
tensorboard==2.4.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
termcolor==1.1.0
terminado==0.12.1
terminaltables==3.1.0
testpath==0.5.0
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile==2021.11.2
toml==0.10.2
tomli==1.2.3
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1636177962100/work
torch==1.10.1+cu113
torch-optimizer==0.0.1a16
torchaudio==0.10.1+cu113
torchsummary==1.5.1
torchvision==0.11.2+cu113
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1648827257044/work
tqdm==4.62.3
traitlets==5.1.1
typing==3.7.4.3
typing_extensions==4.0.1
uritemplate==3.0.1
urllib3==1.26.8
voila==0.2.16
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wodpy==1.6.2
wrapt==1.13.3
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1646254587173/work
-e git+https://github.com/pangeo-data/xESMF.git@860311345212c3e5f52d08335eb758cf903d6787#egg=xesmf
xgboost @ file:///home/leadmove/dongliang/source/xgboost-1.6.0.dev0%2B4dafb5fac81cf2b99fefb6fab984116d86410fbd-py3-none-manylinux2014_x86_64.whl
xmltodict==0.12.0
xyzservices==2021.10.0
yacs==0.1.8
yapf==0.31.0
yarl==1.7.2
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1651156074437/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1649012893348/work
